.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  width: 100%;
  background-color: bisque;
  padding: 10px;
}

.title {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.inner {
  margin: 0 auto;
  max-width: 100vmin;
}

.contentContainer {
  width: 100%;
  max-width: 100vmin;
  flex-grow: 1;
  min-height: calc(100vh - 80px);
}

.footer {
  line-height: 20vh;
  width: 100%;
  text-align: center;
  height: 20vh;
  background-color:silver;
}