.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  height: 100px;
  line-height: 100px;
  width: 100%;
  background-color: bisque;
  text-align: center;
}

.article {
  width: 60%;
}