.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  width: 100%;
  background-color: bisque;
  padding: 10px;
}

.title {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.article {
  width: 90%;
  max-width: 100vmin;
  background-color: transparent;
  padding: 1rem;
}

.inner {
  margin: 0 auto;
  max-width: 100vmin;
}