.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.articleContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 80%;
  
  &.desktop {
    margin: 50px 50px 50px 120px;
    align-self: flex-start;
  }
}