.outer {
  background-color: bisque;
  height: 15vh;
  width: 100%;
  padding: 2px;
  box-sizing: content-box;
}

.inner {
  display: flex;
  align-items: center;
  max-width: 72%;
  margin:0 auto
}

.avatar {
  margin: 1rem;
}

.title {
  font-size: large;
  font-weight: bold;
}